* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

}

header {
    background: linear-gradient(50deg, rgb(239, 239, 118), #f5a1a1, #f64040c5);
    padding: 10px 15px;
    color: #fff;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 10;
}

.flex-nav {
    display: flex;
    justify-content: center;
    font-size: 20px;

}

.offer-banner {
    background: linear-gradient(80deg, white, rgb(247, 247, 108), rgba(199, 65, 3, 0.921));
    text-align: center;
    color: rgb(255, 81, 0);
    font-size: 20px;
    padding: 8px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.app-button {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}


.offer {
    color: brown;
}

.app {
    color: white;

}

.use-code {
    color: green;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.profile {
    color: black;
    margin-left: 20px;

}

.anchor-home {
    color: green;
}

.anchor-home:hover {
    color: rgb(5, 222, 5);
}

nav a:hover {
    color: rgb(5, 222, 5);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search-container {
    display: flex;
    margin-right: 30%;
    position: relative;
}

.search-container input {
    display: block;
    padding: 5px;
    border: none;
    border-radius: 8px;
    width: 450px;
    margin: 0;

}

.search-container button {
    border: none;
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    top: 6px;
    right: 0;
    left: 69%;
    border-radius: 8px;
    background-color: white;


}



.great-deal img {
    object-fit: cover;
    width: 100%;
    height: 30vh;

}

.grab,
.new,
.bestsell,
.shop-ing {
    background: linear-gradient(100deg, white, rgb(255, 166, 0));
    color: red;
    padding: 15px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}
.grabcard-details,
.offer-section,
.newcard-details,.ingredients {
    overflow: hidden;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.grab-card,
.newparent-card,.ingparent-card {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    cursor: grab;
    transition: transform 0.3s ease-out;
}
.ingcard-child {
    flex: 0 0 auto;
    width: 200px;
    padding: 10px;
    
    text-align: center;
    border-radius: 10px;
}
.circle-img img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}
.circle-img{
    text-align: center;
    padding: 25px;
    border: 2px solid orangered;
    border-radius: 50%;

}
.wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    cursor: grab;
}

.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-out;
}

.carousel img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    user-select: none;
}

.card-child {
    margin: 10px 8px;
    border: transparent;
    min-width: 350px;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    user-select: none;

}

.card-child img {
    width: 100%;
    border-radius: 10px;
}

.shop-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background: #fec3ae;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.shop-btn button {
    border: none;
    background: #fec3ae;
    color: red;
}

.newcard-child {
    text-align: center;
    padding: 8px 12px;
    min-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(10deg, rgb(255, 217, 172), rgb(180, 68, 68));

}
.newcard-child img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.newshops-btn button {
    background-color:rgb(254, 174, 68);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: 850;
}

.newshops-btn button:hover {
    background-color: 	rgb(144, 238, 144);
}

.newcard-text {
    font-size: 16px;
    font-weight: 850;
}


.pic img {
    width: 100%;
    height: 50vh;
}

.view button {
    width: 200px;
    height: 7vh;

    background-color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 4px 4px 6px grey;
    border: 1px solid black;
    border-radius: 5px;

}
.cards-text{
    font-size: 20px;
    font-weight: 600;
}

.view {
    text-align: center;
}
.ld,
.derma-child {
    text-align: center;
}

.quoats h3 {
    font-family: "Sofia", sans-serif;
    text-align: center;

}

.derma-parent {
    background-color: bisque;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.derma-para p {
    color: gray;

}

.derma-child img {
    width: 200px;
}

.footer {
    background: #fec3ae;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.newsletter h2 {
    padding: 20px;
    margin-top: 30px;
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.newsletter-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

}

.newsletter-input input {
    padding: 10px;
    border: none;
    background-color: bisque;
    border-radius: 5px;
    width: 250px;
    font-weight: 600;
}

.newsletter-input button {
    background: #d46b37;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 60px;
}

.footer-logo h3 {
    color: #d46b37;
    font-weight: bold;
}

.footer-section h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.social-icons a i,
.footer-section i {
    width: 30px;
    margin: 0 5px;

}