* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

}

header {
    background: linear-gradient(50deg, rgb(239, 239, 118), #f5a1a1, #f64040c5);
    padding: 10px 15px;
    color: #fff;
    align-items: center;
    position: sticky;
    width: 100%;
    z-index: 10;
}

.flex-nav {
    display: flex;
    justify-content: center;
    font-size: 20px;

}

.offer-banner {
    background: linear-gradient(80deg, white, rgb(247, 247, 108), rgba(199, 65, 3, 0.921));
    text-align: center;
    color: rgb(255, 81, 0);
    font-size: 20px;
    padding: 8px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.app-button {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}


.offer {
    color: brown;
}

.app {
    color: white;

}

.use-code {
    color: green;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.profile {
    color: black;
    margin-left: 20px;

}

.anchor-home {
    color: green;
}

.anchor-home:hover {
    color: rgb(5, 222, 5);
}

nav a:hover {
    color: rgb(5, 222, 5);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 12px;
    padding: 20px;
}

.search-container {
    display: flex;
    margin-right: 30%;
    position: relative;
}

.search-container input {
    display: block;
    padding: 5px;
    border: none;
    border-radius: 8px;
    width: 450px;
    margin: 0;

}

.search-container button {
    border: none;
    max-width: max-content;
    max-height: max-content;
    position: absolute;
    top: 6px;
    right: 0;
    left: 69%;
    border-radius: 8px;
    background-color: white;


}



.great-deal img {
    object-fit: cover;
    width: 100%;
    height: 30vh;

}

.grab,
.new,
.bestsell,
.shop-ing {
    background: linear-gradient(100deg, white, rgb(255, 166, 0));
    color: red;
    padding: 15px;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
}

.grabcard-details,
.offer-section,
.newcard-details,
.ingredients,
.blog-section {
    overflow: hidden;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.grab-card,
.newparent-card,
.ingparent-card {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    cursor: grab;
    transition: transform 0.3s ease-out;
}

.ingcard-child {
    flex: 0 0 auto;
    width: 200px;
    padding: 10px;

    text-align: center;
    border-radius: 10px;
}

.circle-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.circle-img {
    text-align: center;
    padding: 25px;
    border: 2px solid orangered;
    border-radius: 50%;

}

.wrapper,
.blog-wrapper {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    cursor: grab;
}

.carousel,
.blog-carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease-out;
}

.carousel img,
.blog-carousel img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    user-select: none;
}

.card-child {
    margin: 10px 8px;
    border: transparent;
    min-width: 350px;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    user-select: none;

}

.card-child img {
    width: 100%;
    border-radius: 10px;
}

.shop-btn {
    margin-top: 10px;
    padding: 8px 12px;
    background: #fec3ae;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.shop-btn button {
    border: none;
    background: #fec3ae;
    color: red;
}

.newcard-child {
    text-align: center;
    padding: 8px 12px;
    min-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    background: linear-gradient(10deg, rgb(255, 217, 172), rgb(180, 68, 68));

}

.newcard-child img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.newshops-btn button {
    background-color: rgb(254, 174, 68);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: 850;
}

.newshops-btn button:hover,.faq:hover{
    background-color: rgb(144, 238, 144);
}

.newcard-text {
    font-size: 16px;
    font-weight: 850;
}


.pic img {
    width: 100%;
    height: 50vh;
}

.view button {
    width: 200px;
    height: 7vh;

    background-color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    box-shadow: 4px 4px 6px grey;
    border: 1px solid black;
    border-radius: 5px;

}

.cards-text {
    font-size: 20px;
    font-weight: 600;
}

.view {
    text-align: center;
}

.ld,
.derma-child {
    text-align: center;
}

.quoats {
    background: url(https://stock.adobe.com/search?k=%22horizontal+background%22);
}


.quoats h3 {
    font-family: "Sofia", sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 10px;


}

.derma-parent {
    background-color: bisque;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.derma-para p {
    color: gray;

}

.derma-child img {
    width: 200px;
}

.footer {
    background: #fec3ae;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.newsletter h2 {
    padding: 20px;
    margin-top: 30px;
    color: #333;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
}

.newsletter-input {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

}

.newsletter-input input {
    padding: 10px;
    border: none;
    background-color: bisque;
    border-radius: 5px;
    width: 250px;
    font-weight: 600;
}

.newsletter-input button {
    background: #d46b37;
    color: black;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 60px;
}

.footer-logo h3 {
    color: #d46b37;
    font-weight: bold;
}

.footer-section h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.social-icons a i,
.footer-section i {
    width: 30px;
    margin: 0 5px;

}

.about {
    text-align: center;
}

.about h2 {
    font-size: 28px;
    padding: 10px;
    font-weight: 700;
    color: #333;
}

.about-links a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 510;
    padding: 10px;
}

.about-links {
    background-color: #ffe3be;
    width: 100%;
    height: auto;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}

.text {
    width: 50%;
    text-align: left;
}

.text h3 {
    font-size: 25px;
    color: brown;
    padding: 30px;
    text-align: center;
}

.text p {
    color: #555;
    line-height: 1.8;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.image img {
    width: 300px;
    border-radius: 10px;
}

.faq-section h2 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}

.faq-container {
    width: 100%;
    object-fit: cover;
    height: auto;
    
}
.faq {
    border-bottom: 2px solid #f4d4aa;
    padding: 15px;
    cursor: pointer;
    background-color: #fbe9d0;
    margin-bottom: 50px;
    border-radius: 8px; 
}


.faq-header{
    font-size: 25px;
    font-weight: 600;
}

.answer {
    display: none;
    background: white; 
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #ddd;
}
.faq.active {
    background: white;
}

.faq.active .faq-header {
    background: white;
}
.click-view{
    text-align: center;
}
.click-view button{
    background-color:tomato;
    padding: 10px;
    width: 150px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700px;
    margin-top: 20px;
}
.banner {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, #ffcc80, #ff7043);
    padding: 40px;
    color: #4a2c2a;
    border-radius: 10px;
}

.banner h1 {
    font-size: 58px;
    font-weight: 700;
    margin: 0;
}

.banner h1 span {
    color: #e65100;
    font-weight: 1000;
    font-size: 80px;
}

.banner-image img {
    width: 300px;
    border:none;
    background: none;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:40px;
    padding: 20px;
}

.product {
    position: relative; 
    width: 300px;  
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ff7f50;
    display: block;
}

.product button {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px; 
    padding: 10px;
    border: none;
    background-color: #ff7f50;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase; 
    font-weight: bold;
}

.product button:hover {
    background-color: #ff4500;
}
